@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

html {
  height: 100%;
}

body,
#root,
.layout {
  min-height: 100vh;
}

body {
  margin: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a:link,
a:visited {
  color: #358ac7;
  font-weight: 700;
  text-decoration: none;
}

address {
  word-wrap: break-word;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

address span {
  font-family: monospace;
  font-style: normal;
  background-color: #eee;
  padding: 2px;
  border-radius: 4px;
}

table {
  width: 100%;
}

table th {
  text-align: left;
  text-transform: uppercase;
  font-size: 0.8rem;
}

.wrap {
  max-width: 960px;
  margin: auto;
}

.layout {
  display: flex;
  flex-direction: column;
}

.layout > main {
  padding: 1rem;
  flex: 1;
}

header h1 {
  margin: 0;
  padding: 1rem;
}

header {
  background-color: #358ac7;
}

header a,
header h1,
header img {
  height: 40px;
}

header .wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header form {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

header form input {
  border: thin solid #286fa2;
  border-radius: 0.25rem;
  padding: 0.25rem;
  font-size: 0.8rem;
  font-family: 'Source Sans Pro', sans-serif;
  width: 16rem;
}

header form button {
  background-color: transparent;
  border: none;
  margin: 0.5rem;
}

header form button svg {
  height: 1rem;
  width: 1rem;
}

footer {
  padding: 1rem;
}

footer p {
  margin: 0;
  text-align: center;
}

.Home {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

table.transactions {
  table-layout: fixed;
  max-width: 44rem;
}

table.transactions .type {
  width: 4rem;
}

table.transactions .time {
  width: 8rem;
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.error h2 {
  text-transform: uppercase;
}

.error figure {
  font-size: 3rem;
}

.search-error {
  border-color: #531022;
  background-color: #f1ced7;
}
